<my-hearde title="更新个人信息"></my-hearde>
<ion-content>
    <ion-list radio-group [(ngModel)]="select">
        <ion-item>
            <ion-label>男</ion-label>
            <ion-radio checked="true" value="1" name="man"></ion-radio>
        </ion-item>

        <ion-item>
            <ion-label>女</ion-label>
            <ion-radio value="2" name="woman"></ion-radio>
        </ion-item>
    </ion-list>
    <button full  color="primary" ion-button block (click)="onsubmit()">保 存</button>
</ion-content>