login {
    .list .item-block .item-inner {
        border: none;
    }
    ion-content {
        margin-top: 1.173333rem;
        .scroll-content {
            padding: 1.333333rem 1.426667rem 0 1.426667rem !important;
            form {
                button {
                    width: 100%;
                    height: 1.066667rem;
                    background-color: #38b63a;
                    font-size: .48rem;
                }
                .list {
                    margin-bottom: 1.133333rem;
                    position: relative;
                    .item {
                        overflow: visible;
                        margin-bottom: .533333rem;
                        width: 100%;
                        height: .96rem;
                        border: 1px solid #38b63a;
                        min-height: 0;
                        border-bottom-color: #38b63a !important;
                        box-shadow: none !important;
                        padding: 0;
                        border-radius: 5px;
                        padding: .08rem 0 .08rem .146667rem;
                        &.code {
                            // display:inline-block;
                            width: 70%;
                        }
                        &.code_img {
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            padding: 0;
                            margin: 0;
                            // display:inline-block;
                            width: 25%;
                            .item-inner {
                                padding: 0;
                                height: 100%;
                                margin: 0;
                                .input-wrapper {
                                    height: 100%;
                                    .label {
                                        margin: 0;
                                        height: 100%;
                                        width: 100%;
                                        line-height: 0;
                                        ion-img {
                                            width: 100%;
                                            height: 100%;
                                            img {
                                                width: 100%;
                                                height: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .user_icon {
                            border-radius: 50%;
                            background-color: #38b63a;
                            border: 1px solid white;
                            z-index: 111;
                            color: white;
                            box-shadow: 0 0 10px rgba(56, 182, 58, 0.5)
                        }
                        .close_icon {
                            color: rgba(56, 182, 58, 0.5);
                            z-index: 111;
                            font-size: .8rem;
                            line-height: .8rem;
                        }
                        ion-icon {
                            text-align: center;
                            width: .76rem;
                            height: .76rem;
                            font-size: .4rem;
                            height: 100%;
                            margin: 0;
                            min-height: 0;
                            line-height: 2;
                        }
                        .item-inner {
                            height: 100%;
                            margin-left: 0;
                            background-image: url(../../assets/image/index/login_03.png);
                            background-position: .133333rem;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-bottom-color: transparent !important;
                            box-shadow: none !important;
                            .input-wrapper {
                                overflow: visible;
                                height: 100%;
                                ion-input {
                                    height: 70%;
                                    line-height: 0;
                                    background-position: .133333rem;
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    input {
                                        width: 100%;
                                        padding-left: .466667rem;
                                        margin: 0;
                                        line-height: .533333rem;
                                        vertical-align: text-top;
                                        height: 100%;
                                        font-size: .293333rem;
                                        color: #999999;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}