login{
    .list .item-block .item-inner{
        border:none;
    }
    ion-content{
        margin-top:0.88rem;
        .scroll-content{
            padding:1rem 1.07rem 0 1.07rem !important;
            form{
                button{
                    width:100%;
                    height:0.8rem;
                    background-color:#38b63a;
                    font-size:0.36rem;
                }
                .list{
                    margin-bottom:0.85rem;
                    position:relative;
                    .item{
                        overflow: visible;
                        margin-bottom:0.4rem;
                        width:100%;
                        height:0.72rem;
                        border:1px solid #38b63a;   
                        min-height:0;
                        padding:0;
                        border-radius:5px;
                        padding:0.06rem 0 0.06rem 0.11rem;
                        &.code{
                            // display:inline-block;
                            width:70%;
                        }
                        &.code_img{
                            position:absolute;
                            right:0;
                            bottom:0;
                            padding:0;
                            margin:0;

                            // display:inline-block;
                            width:25%;
                            .item-inner{
                                padding:0;
                                height:100%;
                                margin:0;
                                .input-wrapper{
                                    height:100%;
                                    .label{
                                        margin:0;
                                        height:100%;
                                        width:100%;
                                        line-height:0;
                                        ion-img{
                                            width:100%;
                                            height:100%;
                                            img{
                                                width:100%;
                                                height:100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                      .user_icon{
                        border-radius:50%;
                        background-color:#38b63a;
                        border:1px solid white;
                        z-index: 111;
                        color:white;
                        box-shadow:0 0 10px rgba(56,182,58,0.5)
                      }
                      .close_icon{
                          color:red;
                          z-index: 111;
                          font-size:0.6rem;
                          line-height:0.6rem;
                      }
                      ion-icon{
                        text-align:center;
                        width:0.57rem;
                        height:0.57rem;
                        font-size:0.3rem;
                        height:100%;
                        margin:0;
                        min-height:0;
                        line-height:0.5rem;
                      }  
                      .item-inner{
                          height:100%;
                          margin-left:0;
                          background-image:url(../../assets/image/index/login_03.png);
                          background-position:0.1rem;
                          background-size:contain;
                          background-repeat: no-repeat;
                          .input-wrapper{
                              overflow: visible;
                              height:100%;
                              ion-input{
                                  height:70%;
                                  line-height: 0;
                                   background-position:0.1rem;
                          background-size:contain;
                          background-repeat: no-repeat;
                                  input{
                                      width:100%;
                                      padding-left:0.35rem;
                                      margin:0;
                                      line-height:0.4rem;
                                        vertical-align: text-top;
                                      height:100%;
                                      font-size:0.22rem;
                                      color:#999999;
                                  }
                              }
                          }
                      }
                    }
                }
            }
        }
    }   
}