new_samp {
	ion-content {
		top: 0.88rem;
		.scroll-content {
			padding: 0 !important;
			padding-top: 0.2rem !important;
			padding-bottom: 1.3rem !important;
		}
		form {
			.list {
				margin-bottom: 0.2rem;
				border-top: 1px solid #dbdbdb;
				border-bottom: 1px solid #dbdbdb;
				background-color: white;
				padding: 0 16px;
				.item {
					min-height: 0;
					padding: 0;
					height: 0.99rem;
					line-height: 0.99rem;
					font-size: 0.3rem;
					color: #999999;
					border-bottom: 1px solid #dbdbdb;
					.item-inner {
						.input-wrapper {
							padding: 0 0.65rem;
							padding-right: 0;
							ion-datetime {
								padding: 0;
								line-height: 0.99rem;
								text-align: left;
								// margin-right:1rem;
							}
							.label {
								margin: 0;
								span {
									color: #333333;
									font-size: 0.3rem;
									float: right;
								}
							}
						}
						button {
							margin: 0;
							height: 100%;
							.button-inner {
								ion-icon {
									font-weight: normal;
									height: 100%;
									font-size: 0.5rem;
									line-height: 0.99rem;
									color: #c8c8c8;
								}
							}
						}
					}
					&:last-child {
						border-bottom: none;
					}
					&.num {
						.item-inner {
							.input-wrapper {
								padding-left: 0;
								ion-input {
									height: 100%;
									input {
										height: 100%;
										margin: 0;
										padding-left: 50%;
									}
								}
							}
						}
					}
					&.data {
						.item-inner {
							.input-wrapper {
								padding-left: 0.65rem;
							}
						}
					}
				}
			}
            .succse_box{
                margin:0;
                line-height:0;
                padding-left:0.43rem;
                margin-top:0.3rem;
                overflow: visible;
                    .succse{
                    width:2.2rem;
                    height:0.9rem;
                    margin:0;
                    font-size:0.36rem;
                    }  
                    .outsuccse{
                        width:3.97rem;
                        height:0.9rem;
                        font-size:0.36rem;
                        margin:0;
                    }
            }
		}
	}
}