<ion-header class="department_content">
    <ion-navbar>
    <ion-title>活动详情</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="department_contact_activeDetails">
	<h5>端午节庆祝野炊活动</h5>
	<ion-card class="department_contact_activeDetails_Information">
	  <ion-item>
	  	<ion-row>
		      <button  color="dark" ion-button icon-left clear small>
		        <div>2017-04-09</div>
		      </button>
		      <button ion-button icon-left clear small>
		        <div>山西省太原市杏花岭区</div>
		      </button>
		      <button color="dark" ion-button icon-left clear small>
		        <div>参与人数<i>12</i></div>
		      </button>
		  </ion-row>
		  <img src="assets/image/active.png">
		
		  <ion-card-content>
		    <p>戈登之前没能在季后赛里取得过太多的成功，现在他在火箭并且帮助火箭在季后赛里做出贡献对他来说意味着什么呢？赛里取得过太多的成功，现在他在火箭并且帮助火箭在季后赛里做出贡献对他来说意味着什么</p>
		    <p>“这意味着很多，我认为我们很有夺冠的机会，无论这么做需要什么（我们都要去做），努力去拼，在攻防两端都打好，那么我们就会有机会了。”戈登说道。</p>
		  </ion-card-content>
		</ion-item>
	</ion-card>
  <ion-card class="department_about_projectDetails_UserTeach">
		  <ion-card-content>
			  <ion-list class="department_about_projectDetails_UserTeach_header">
				  <ion-item>后台组</ion-item>
				</ion-list>
				<ion-list class="department_about_projectDetails_UserTeach_header department_about_projectDetails_UserTeach_List">
				  <ion-item>JAVA</ion-item>
				  <ion-item> 前端组</ion-item>
				  <ion-item>UI组</ion-item>
				</ion-list>
				<ion-list class="department_about_projectDetails_UserTeach_header department_about_projectDetails_UserTeach_List">
				  <ion-item>PHP</ion-item>
				  <ion-item> 前端组</ion-item>
				  <ion-item>UI组</ion-item>
				</ion-list>
				<ion-list class="department_about_projectDetails_UserTeach_header department_about_projectDetails_UserTeach_List">
				  <ion-item>后台组</ion-item>
				  <ion-item>前端组</ion-item>
				  <ion-item>UI组</ion-item>
				</ion-list>
		  </ion-card-content>
	</ion-card>
</ion-content>