revertlist {
    .search {
        top: 1.173333rem;
        // padding:0 0.25rem;
        z-index: 10;
        height: auto;
        // border-bottom: 1px solid #dedede;
        position: relative;
        // background-color: white;
        z-index: 20;
        .grid {
            padding: 0;
            // padding: 0 0.4rem !important;
            .thead {
                text-align: center;
                //  padding: 0 0.3rem ;
                height: 1.333333rem;
                //    position:relative;
                width: 100%;
                z-index: 11;
                .col {
                    line-height: 1.333333rem;
                    padding: 0;
                    background-color: #509cfa;
                    ion-label {
                        margin: 0;
                        font-size: .373333rem;
                        color: white;
                    }
                }
            }
        }
        .toolbar {
            height: 100%;
            min-height: 0;
            padding: 0;
            .toolbar-background {
                border-color: transparent;
            }
            .toolbar-content {
                height: 100%;
                width: 100%;
                .item {
                    padding: 0;
                    width: 100%;
                    height: 1.333333rem;
                    min-height: 0;
                    .item-inner {
                        padding: 0;
                        border-bottom: none;
                        flex-direction: row-reverse;
                        .search_screen {
                            padding-left: .266667rem;
                            padding-right: .266667rem;
                            padding-top: .266667rem;
                            height: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            // padding-top: 0.24rem;
                            // padding-bottom: 0.46rem;
                            background-color: white;
                            ion-searchbar {
                                padding: 0;
                                width: 7rem;
                                margin: 0 auto;
                                height: .666667rem;
                                border-radius: 5px;
                                margin-bottom: 0.2rem;
                                .searchbar-input-container {
                                    height: 100%;
                                    border-radius: .066667rem;
                                    font-size: .373333rem;
                                    color: #666666;
                                    border: 1px solid #bfbfbf;
                                    background-color: #ececec;
                                    .searchbar-clear-icon {
                                        display: none;
                                    }
                                    .searchbar-search-icon {
                                        left: 90%;
                                        display: none;
                                        top: 0;
                                        bottom: 0;
                                        margin: auto 0;
                                    }
                                    input {
                                        box-shadow: none;
                                        height: 100%;
                                        line-height: 2;
                                        padding: 0;
                                        color: #666666;
                                        background-color: transparent;
                                        padding-left: .266667rem;
                                        font-size: .373333rem;
                                    }
                                }
                            }
                        }
                        .submit {
                            width: 1.693333rem;
                            border-radius: .133333rem;
                            display: inline-block;
                            margin: 0 auto;
                            height: .666667rem;
                            margin-left: .2rem;
                            margin-bottom: .133333rem;
                            margin-top: -.133333rem;
                            font-size: .32rem;
                            background-color: #30d05f;
                            color: white;
                            img {
                                width: .533333rem;
                                height: .533333rem;
                            }
                            // margin-left:auto;
                        }
                        .buttons {
                            width: 100%;
                            // height:0.67rem;
                            padding: 0 .32rem;
                            line-height: 0;
                            border-bottom: 1px solid #eeeeee;
                            background-color: white;
                            padding-top: .266667rem;
                            padding-bottom: .133333rem;
                            flex-direction: row;
                            display: flex;
                            justify-content: space-between;
                            button {
                                margin: 0;
                                // width:1.22rem;
                                overflow: visible;
                                height: .733333rem;
                                border-radius: .026667rem;
                                text-align: center;
                                // line-height:0.55rem;
                                color: #999999;
                                // background-color:#ff4c78;
                                background-color: transparent;
                                box-shadow: none;
                                border: 1px solid #d5d5d5;
                                font-size: .4rem;
                                &.active {
                                    background-color: #ff4c78;
                                    border: none;
                                    color: white;
                                }
                            }
                        }
                        .label {
                            margin: 0;
                            height: 100%;
                            font-size: .4rem;
                            text-align: left;
                            line-height: 1.173333rem;
                            color: #38b63a;
                        }
                        ion-select {
                            padding: 0;
                            background-color: #f2f2f2;
                            width: 3.333333rem;
                            height: .8rem;
                            max-width: none;
                            padding-right: .333333rem;
                            padding-left: .293333rem;
                            padding-top: .106667rem;
                            // padding:0.15rem 0.26rem 01.7rem 0.25rem;
                            color: #333333;
                            font-size: .4rem;
                            border: 1px solid #dfdfdf;
                            button {
                                padding: 0;
                                width: 0;
                            }
                        }
                    }
                }
            }
            .item-block.select {
                height: 1.2rem;
                border-top: 1px solid #dbdbdb;
                min-height: 0;
                .item-inner {
                    padding: 0;
                    .input-wrapper {
                        .label {
                            padding-left: 16px;
                            margin: 0;
                            font-size: .4rem;
                            height: 100%;
                            line-height: 2.5;
                            span.title {
                                padding-left: .226667rem;
                                vertical-align: sub;
                                display: inline-block;
                                height: 100%;
                                margin-right: .333333rem;
                                position: relative;
                                line-height: 1.2rem;
                                color: black;
                                &:after {
                                    content: '';
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    bottom: 0;
                                    margin: auto 0;
                                    width: .066667rem;
                                    height: .4rem;
                                    background-color: #ff4c78;
                                }
                            }
                            button {
                                width: 1.333333rem;
                                height: .56rem;
                                margin: 0;
                                border-radius: 5px;
                                border: 1px solid #999999;
                                box-shadow: none;
                                padding: 0;
                                background-color: transparent;
                                line-height: .56rem;
                                margin-right: .333333rem;
                                span {
                                    font-size: .32rem;
                                    color: #999999;
                                }
                                &.active {
                                    background-color: #ff4c78;
                                    border-color: #ff4c78;
                                    span {
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    ion-content {
        .scroll-content {
            background-color: white !important;
            border-top: none !important;
            margin-top: 5rem !important;
            margin-bottom: 0 !important;
            .grid {
                //    margin-top:1rem;
                padding: 0;
                padding: 0 0.4rem !important;
                .row {
                    padding: 0;
                    .col {
                        padding: 0;
                        text-align: center;
                    }
                }
                .tbody {
                    padding: 0 .013333rem;
                    color: #666666;
                    &.binggo {
                        color: #999999;
                    }
                    .col {
                        height: 1.333333rem;
                        border-bottom: 1px solid #dbdbdb;
                        ion-label {
                            height: 100%;
                            margin: 0;
                            line-height: 1.333333rem;
                            color: inherit;
                            font-size: .32rem;
                            &.active {
                                color: #38b63a;
                            }
                        }
                    }
                }
            }
        }
    }
}