prompt {
    ion-img {
        width: 100%;
        height: 3.373333rem;
        background: transparent;
        margin-top: 1.333333rem;
        img {
            margin: 0 auto;
            height: 100%;
        }
    }
    .label_title {
        width: 100%;
        height: auto;
        text-align: center;
        margin: 0;
        h2 {
            margin: 0;
            font-size: .48rem;
        }
    }
    .lable_content {
        margin: 0;
        font-size: .4rem;
        color: #666666;
        text-align: center;
        margin-top: .4rem;
    }
}