<my-hearde title="我的资料"></my-hearde>

<ion-content class="data_content">
  <ion-list inset>
    <button ion-item (click)="setphont()">
    头像
    <ion-avatar item-right>
      <img [src]=imgUrl>      
    </ion-avatar>    
  </button>
    <button ion-item (click)="setnickname()">
    昵称   
     <ion-note item-end>
      {{nickname}}
      </ion-note>
  </button>
    <button ion-item (click)="setname()">
    姓名   
     <ion-note item-end>
      {{name}}
      </ion-note>
  </button>
    <button ion-item (click)="setsex()">
    性别  
     <ion-note item-end>
      {{sex}}
      </ion-note>
  </button>
  </ion-list>

</ion-content>