.data_content{
    background-color:#f3f3f3;
    top:0.88rem;
    .scroll-content{
        ion-list{
            .item-block{
                min-height:0;
                .item-inner{
                    .input-wrapper{
                        .label{
                            font-size:0.3rem;
                            img{
                                float:right;
                                width:0.36rem;
                                height:0.36rem;
                            }
                        }
                        
                    }
                    ion-icon{
                        font-size:0.4rem;
                        min-height:0;
                    }
                    ion-note{
                            font-size:0.3rem;
                        }
                        ion-avatar{
                            margin:0;
                        }
                }
            }
        } 
   }
}