<!--<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>
<app-header title='about'></app-header>

<ion-content padding>
111
<br/>
<br/>
2222
</ion-content>-->


<app-header title='扦样列表'></app-header>
<ion-header class="search" no-border>
	<ion-toolbar>
		<ion-item>
			<ion-select placeholder="选择被查库点" [(ngModel)]="genders" interface="popover"  (ngModelChange)="changeVersion(genders)">
				<ion-option [value]="list.id" *ngFor="let list of optionarr;index as i " >{{list.libraryName}}</ion-option>
			</ion-select>
			<ion-label class="search_state">筛选
				<ion-icon name="arrow-up"></ion-icon>
			</ion-label>
		</ion-item>

	</ion-toolbar>
	<ion-row class="thead">
			<ion-col col-4>
				<ion-label>扦样编号</ion-label>
			</ion-col>
			<ion-col col-2>
				<ion-label>货位号</ion-label>
			</ion-col>
			<ion-col col-3>
				<ion-label>品种</ion-label>
			</ion-col>
			<ion-col col-3>
				<ion-label>状态</ion-label>
			</ion-col>
		</ion-row>
</ion-header>
<div class="zhezhao"></div>
	<div class="screen">
		<div class="state">
			<span>状态:</span>
		</div>
		<div class="buttons"> 
			<button ion-button class="active" (click)="select_smaple()">全部</button>
			<button ion-button (click)="select_smaple(-1)">未扦样</button>
			<button ion-button (click)="select_smaple(1)">已扦样</button>
		</div>
		<div class="search_screen">
			<ion-searchbar cancelButtonText="wwww" placeholder="请输入品种进行搜索" [(ngModel)]="myInput"></ion-searchbar>
			<button ion-button block outline color="secondary"  class="submit" (click)="secondary()" >完成</button>
		</div>
		
	</div>
<ion-content>
	
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	
	<ion-grid>
		
		<ion-row class="tbody" (click)="setNavPush(list)" *ngFor="let list of gendrslist">
			<ion-col col-4>
				<ion-label>{{list.sampleNo}}</ion-label>
			</ion-col>
			<ion-col col-2>
				<ion-label>{{list.position}}</ion-label>
			</ion-col>
			<ion-col col-3>
				<ion-label>{{list.sort}}</ion-label>
			</ion-col>
			<ion-col col-3 [ngSwitch]="list.sampleState">
				<ion-label *ngSwitchCase="1">已扦样</ion-label>
				<ion-label *ngSwitchCase="-1">未扦样</ion-label>
				<ion-label *ngSwitchCase="2">入库</ion-label>
				<ion-label *ngSwitchDefault>未扦样</ion-label>
			</ion-col>
		</ion-row>
		<!--<button ion-button  large color="secondary" (click)="_ble()" class="sumbit" type="button">链接蓝牙</button>-->
	</ion-grid>
	<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>