.search {
    background-color: #2590c7;
    color: white;
    .toolbar {
        .back-button {
            margin:0;
            .button-inner {
                ion-icon {
                    font-size: 0.5rem;
                    color: white;
                    line-height: 0.88rem;
                }
            }
        }
        .toolbar-content {
            label{
                ion-searchbar{
                    border-radius:50%;
                .searchbar-input-container{
                    border-radius:50%;
                    .searchbar-search-icon{
                        color:#6DA1C0;
                    }
                }
                }
            }
            button{
                color:white;
            }
        }
    }
}
ion-content.search_search_history{
 background: #F6F6F6;
 ion-list{
     width: 95%;
     margin: 0 auto;
     ion-list-header{
         background: #F6F6F6;
         min-height:0.1rem;
         font-size: .36rem;
         color:#2590c7;
         text-align: left;
         border:0;
         font-size:0.3rem;
     }
     .ion-list-content{
         ion-item{
             min-height: .1rem;
             color:#9E9E9E;
             &.csy_deleteHistory{       
                 .item-inner{
                     margin: 0;
                     .input-wrapper{
                          ion-label{
                              font-size:0.2rem;
                               text-align: center; 
                               color: #2590c7;

                               ion-icon{
                                   font-family:icon;
                               }
                            
                         }
                     }
                 }
             }
             .item-inner{
                 margin:0;
                 .input-wrapper{
                     ion-label{
                         font-size:0.2rem;
                        text-align: left; 
                     }
                 }
                 border:0;   
             }
             ion-icon[item-left],ion-icon[item-right],ion-icon[item-start],ion-icon[item-end]{
                 font-size: .36rem;
                 font-family:icon;
                 min-height: 0rem; 
             }
             .item-inner{
                 font-size: .36rem;
             }
         }
     }
 }
}


.search{
    z-index: 1;
}
ion-content.search_home_search{
    background: #FAFAFA;
    top:0.88rem;
    z-index: 10;
    .fixed-content{
         z-index: 2;
    }
    .scroll-content{
        overflow: visible;
        ion-list{
            width: 90%;
        //    overflow: hidden;
            box-shadow: 0px 0 10px #ccc;
            margin: 0 auto;
            border-radius:10px;
            position:relative;
            top:-52px;
            &:after{
                content: "";
                position: absolute;
                top: -13px;
                width: 0;
                height: 0;
                border-right: 10px solid transparent;
                border-bottom: 25px solid #fff;
                border-left: 10px solid transparent;
                left: 10px;
                z-index: -1;
            }
            ion-list-header{
                background: #ccc;
                min-height:0.1rem;
                font-size: .36rem;
                color:#2590c7;
            }
            ion-item{
                min-height: .1rem;
                border-top:none !important;
                border-radius:10px;
                &.csy_deleteHistory{
                    .item-inner{
                        .input-wrapper{
                            ion-label{
                                font-size:0.2rem;
                                  text-align: center; 
                                  color: #2590c7;
                            }
                        }
                    }
                }
                .item-inner{
                    font-size: .36rem;
                    .input-wrapper{
                        ion-label{
                           text-align: left; 
                           font-size: .24rem;
                           i{
                              font-style: normal;
                           }
                        }
                    }
                    border:0;   
                }
                ion-icon[item-left],ion-icon[item-right],ion-icon[item-start],ion-icon[item-end]{
                    min-height: 0rem; 
                    font-family:icon;
                }
            }
        }
    }
    
}
