<login-header [title]="Mytitle"></login-header>
<!--<ion-header class="login_hearder">
  <ion-toolbar>
      <ion-icon ios="ios-arrow-back" md="md-arrow-back" (click)="goback()"></ion-icon>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>-->
<ion-content class="rigister">
    <form (ngSubmit)="onSubmit(registerForm)" novalidate [formGroup]="registerForm">
        <ion-list inset>
            <ion-item>
                <ion-label>
                    <ion-icon name="phone-portrait"></ion-icon>
                </ion-label>
                <!--<ion-label class="notice" ><span class="icon-jinggao"></span></ion-label>-->
                <ion-input type="tel" [formControl]="phone" clearInput="true" placeholder="请输入您的账号/手机号"></ion-input>
            </ion-item>
            <p *ngIf="phone.hasError('required') && phone.touched" color="danger">* 请输入用户名</p>
            <p *ngIf="(phone.hasError('minlength')||phone.hasError('maxlength')||phone.hasError('pattern')) && phone.touched" color="danger">* 请输入正确的电话号码</p>
            <ion-item class="low_item">
                <ion-label>
                    <ion-icon name="lock"></ion-icon>
                </ion-label>
                <!--<ion-label class="notice" ><span class="icon-jinggao"></span></ion-label>-->
                <ion-input type="text" placeholder="请输入您的验证码"></ion-input>
            </ion-item>
            <ion-item class="low_button ">
                <!-- active   60s-->
                <span>发送验证码</span>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-icon name="lock"></ion-icon>
                </ion-label>
                <!--<ion-label class="notice" ><span class="icon-jinggao"></span></ion-label>-->
                <ion-input type="password" clearInput="true" [formControl]="password" placeholder="请输入您的密码"></ion-input>
            </ion-item>
            <p color="danger" *ngIf="password.hasError('minlength') && password.touched">
                *密码最小长度是6
            </p>
            <ion-item>
                <ion-label>
                    <ion-icon name="lock"></ion-icon>
                </ion-label>
                <!--<ion-label class="notice" ><span class="icon-jinggao"></span></ion-label>-->
                <ion-input type="password" clearInput="true" [formControl]="pconfirm" placeholder="请再次输入您的密码"></ion-input>

            </ion-item>

            <p color="danger" *ngIf="registerForm.hasError('equal','passwordGroup')">
                *{{registerForm.getError('equal','passwordGroup')?.descxxx}}
            </p>
            <ion-item class="endcheck">
                <ion-label>我已阅读并同意 <span>《用户协议》</span></ion-label>
                <ion-checkbox #checkflase (ionChange)="checks(checkflase.checked)"></ion-checkbox>
            </ion-item>
        </ion-list>
        <button ion-button round class="submit" type="submit" [disabled]="!isflag">立即注册</button>
        <p>已有账号， <span (click)="login()">立即登录</span></p>
    </form>
</ion-content>