<my-hearde title="照相"></my-hearde>


<ion-content padding class="camare_content">
    <p style="font-size:0.14rem;">Your URI is {{ imageData }}</p>
    <ion-row class="center">
        <ion-col col-6>
            <!-- 打开摄像头的按钮 -->
            <button ion-button (click)="getPicture(1)">拍照</button>
        </ion-col>
        <ion-col col-6>
            <!-- 打开本地相册的按钮 -->
            <button ion-button (click)="getPicture(0)">选择相册</button>
        </ion-col>
    </ion-row>
    <ion-list>
        <ion-item class="no-border">
            <ion-label>Return image file URI</ion-label>
            <!-- 开关按钮 -->
            <ion-toggle energized [(ngModel)]="useURI">
            </ion-toggle>
        </ion-item>
    </ion-list>
    <!-- 显示照片 -->
    <ion-card>
        <img [src]="imageData" *ngIf="imageData" />
        <ion-card-content>
            <ion-card-title>
                <div *ngIf="useURI">
                    Using URI
                </div>
                <div *ngIf="!useURI">
                    Using Base64
                </div>
            </ion-card-title>
            <p *ngIf="useURI">
                Your URI is {{ imageData }}
            </p>
        </ion-card-content>
        <ion-card>

