work_view{
    ion-content{
        top:0.88rem;
       .scroll-content{
           background-color:white;
        //    margin-top:0.3rem;
           font-size:0.28rem;padding:0.1rem 0.15rem;
           color:#333333;
           line-height:2;
       } 
    }
}