<!--项目详情头部开始-->
<ion-header class="project_view">
    <ion-navbar>
    <ion-title>项目详情</ion-title>
    </ion-navbar>
</ion-header>
<!--项目详情头部结束-->
<!--项目详情内容-->
<ion-content class="project_about_projectDetails">
    <h5>海信金融PPP项目</h5>
    <a class="project_about_projectLink" href="">www.ityyedu.com</a>
    <!--项目背景开始-->
    <ion-card>
      <ion-card-header>
			    项目&背景
			</ion-card-header>
			<ion-card-content>
			    <p>中国瓷器在世界享有极大声誉，甚至有一些价值连城，所以对一些不法分子来说，从瓷器中牟取暴利的机会非常大 ，丙而仿制的古瓷器伪造的膺品特别多。这就需要我们掌握鉴别手段，辨别 真伪，区分优劣。</p>
			</ion-card-content>
		</ion-card>
		<!--项目背景结束-->
		<!--项目开发背景等介绍开始-->
		<ion-list class="project_about_projectDetails_List">
		  <ion-item>
		    <h2>【开发周期】</h2>
		    <p>30天</p>
		  </ion-item>
		  <ion-item>
		    <h2>【上线时间】</h2>
		    <p>2017-05-01</p>
		  </ion-item>
		  <ion-item>
		    <h2>【用户人群】</h2>
		    <p>18—35周岁的上班族</p>
		  </ion-item>
		  <ion-item>
		    <h2>【使用环境】</h2>
		    <p>ie8.0以上版本</p>
		  </ion-item>
		</ion-list>
	  <!--项目开发背景等介绍结束-->
	  <!--项目简介开始-->
	  <ion-card>
	    <ion-card-header>项目&简介</ion-card-header>
		  <ion-card-content>
		    <p>中国瓷器在世界享有极大声誉，甚至有一些价值连城，所以对一些不法分子来说，从瓷器中牟取暴利的机会非常大 ，丙而仿制的古瓷器伪造的膺品特别多。这就需要我们掌握鉴别手段，辨别 真伪，区分优劣。</p>
		    <p>从瓷器中牟取暴利的机会非常大 ，从瓷器中牟取暴利的机会非常大 ，丙而仿制的古瓷器伪造的膺品特别多。丙而仿制的古瓷器伪造的膺品特别多。</p>
		  </ion-card-content>
		</ion-card>
		<!--项目简介结束-->
		<!--功能模块开始-->
		<ion-card>
	      <ion-card-header>功能&模块</ion-card-header>
			  <ion-card-content class="project_about_projectDetails_Slide">
			  	<!--<ion-slides pager (ionSlideDidChange)="slideChanged()">-->
						<ion-slides pager >
				    <ion-slide>
				      <h5 class="slide-title">【内容管理】</h5>
				      <p>中国瓷器在世界享有极大声誉，甚至有一些价值连城，所以对一些不法分子来说，从瓷器中牟取暴利的机会非常大 ，丙而仿制的古瓷器伪造的膺品特别多。这就需要我们掌握鉴别手段，辨别 真伪，区分优劣。</p>
				      <img src="assets/image/project_detil.png" alt="" />
				    </ion-slide>
				    <ion-slide>
				      <h5 class="slide-title">【内容管理】</h5>
				      <p>中国瓷器在世界享有极大声誉，甚至有一些价值连城，所以对一些不法分子来说，从瓷器中牟取暴利的机会非常大 ，丙而仿制的古瓷器伪造的膺品特别多。这就需要我们掌握鉴别手段，辨别 真伪，区分优劣。</p>
				      <img src="assets/image/project_detil.png" alt="" />
				    </ion-slide>
				    <ion-slide>
				      <h5 class="slide-title">【内容管理】</h5>
				      <p>中国瓷器在世界享有极大声誉，甚至有一些价值连城，所以对一些不法分子来说，从瓷器中牟取暴利的机会非常大 ，丙而仿制的古瓷器伪造的膺品特别多。这就需要我们掌握鉴别手段，辨别 真伪，区分优劣。</p>
				      <img src="assets/image/project_detil.png" alt="" />
				    </ion-slide>
				  </ion-slides>
					<!--<h5 style="text-align:center'">{{pageIndex}}/{{oIndex}}</h5>-->
			  </ion-card-content>
		</ion-card>
		<!--功能模块ia结束-->
		<!--使用技术开始-->
		<ion-card class="project_about_projectDetails_UserTeach">
	    <ion-card-header>使用&技术</ion-card-header>
		  <ion-card-content>
			  <ion-list class="project_about_projectDetails_UserTeach_header">
				  <ion-item>后台组</ion-item>
				  <ion-item class="about_projectUserTeach_header_midd">前端组</ion-item>
				  <ion-item>UI组</ion-item>
				</ion-list>
				<ion-list class="project_about_projectDetails_UserTeach_header project_about_projectDetails_UserTeach_List">
				  <ion-item>JAVA</ion-item>
				  <ion-item> 前端组</ion-item>
				  <ion-item>UI组</ion-item>
				</ion-list>
				<ion-list class="project_about_projectDetails_UserTeach_header project_about_projectDetails_UserTeach_List">
				  <ion-item>PHP</ion-item>
				  <ion-item> 前端组</ion-item>
				  <ion-item>UI组</ion-item>
				</ion-list>
				<ion-list class="project_about_projectDetails_UserTeach_header project_about_projectDetails_UserTeach_List">
				  <ion-item>后台组</ion-item>
				  <ion-item>前端组</ion-item>
				  <ion-item>UI组</ion-item>
				</ion-list>
		  </ion-card-content>
		</ion-card>
		<!--使用技术结束-->
</ion-content>
