samllsample {
    .search {
        top: 1.173333rem;
        // padding:0 0.25rem;
        z-index: 10;
        height: auto;
        // border-bottom: 1px solid #dedede;
        position: relative;
        // background-color: white;
        z-index: 20;
        .grid {
            padding: 0;
            // padding: 0 0.4rem !important;
            .thead {
                text-align: center;
                //  padding: 0 0.3rem ;
                height: 1.333333rem;
                //    position:relative;
                width: 100%;
                z-index: 11;
                .col {
                    line-height: 1.333333rem;
                    padding: 0;
                    background-color: #509cfa;
                    ion-label {
                        margin: 0;
                        font-size: .373333rem;
                        color: white;
                    }
                }
            }
        }
    }
    ion-content {
        .scroll-content {
            background-color: white !important;
            border-top: none !important;
            margin-top: 2.49rem !important;
            margin-bottom: 0 !important;
            .grid {
                //    margin-top:1rem;
                padding: 0;
                // padding: 0 0.4rem !important;
                .row {
                    padding: 0;
                    .col {
                        padding: 0;
                        text-align: center;
                    }
                }
                .tbody {
                    padding: 0 .013333rem;
                    color: #666666;
                    &.binggo {
                        color: #999999;
                    }
                    .col {
                        height: 1.333333rem;
                        border-bottom: 1px solid #dbdbdb;
                        ion-label {
                            height: 100%;
                            margin: 0;
                            line-height: 1.333333rem;
                            color: inherit;
                            font-size: .32rem;
                        }
                    }
                }
            }
            .buttons {
                width: 8rem;
                height: 1.2rem;
                display: block;
                line-height: 0;
                // border: 1px solid red;
                margin: 0 auto;
                margin-top: .733333rem;
                .button {
                    width: 2.64rem;
                    height: 100%;
                    // float: left;
                    margin: 0;
                    text-align: center;
                    line-height: 1.2rem;
                    background-color: #38b63a;
                    border-radius: .133333rem;
                    box-shadow: none;
                    padding: 0;
                    display: inline-block;
                    span {
                        font-size: .48rem;
                        color: white;
                    }
                    &.cleard {
                        width: 4.506667rem;
                        height: 100%;
                        float: right;
                        background-color: white;
                        border: 1px solid #38b63a;
                        span {
                            color: #38b63a;
                            font-size: .48rem;
                        }
                    }
                }
            }
            .pop {
                width: 6.6rem;
                height: 1.2rem;
                background-color: #38b63a;
                text-align: center;
                line-height: 1.2rem;
                display: block;
                margin: 0 auto;
                margin-top: .4rem;
                span {
                    color: white;
                    font-size: .48rem;
                }
            }
        }
    }
}