notice_view{
   ion-content{
       top:0.88rem;
       .scroll-content{
           padding:0.45rem  0.25rem;
           .card{
               width:100%;
               margin:0;
               background-color:transparent;
               box-shadow: none;
               .card_time{
                   text-align:center;
                   margin-bottom:0.2rem;
                   p{
                       font-size:0.24rem;
                   color:#666666;
                   }
               }
               .card_content{
                   background-color:white;
                    padding:0.25rem 0.33rem 0.2rem 0.24rem;
                    border-radius: 10px;
               .card-header{
                   font-size:0.32rem;
                   color:#333333;
                   text-align:center;
                   padding:0;
                   margin-bottom:0.25rem; 
               }
               .card-content{
                  font-size:0.24rem;
                  color:#666666; 
                  p{
                      font-size:0.24rem;
                      color:#666666;
                      margin-bottom:0.2rem;
                  }
               }
               }
           }
       }
   } 
}