sample {
    .search {
        top: 1.173333rem;
        // padding:0 0.25rem;
        z-index: 10;
        height: auto;
        // border-bottom: 1px solid #dedede;
        position: relative;
        // background-color: white;
        z-index: 20;
        ion-toolbar {
            width: 100%;
            height: 1.333333rem;
            // margin-bottom: .253333rem;
            background-color: white;
            border-radius: .133333rem;
            padding: .253333rem .306667rem .253333rem .32rem;
            .toolbar-background {
                background-color: white;
            }
            ion-select {
                // background-color: #f2f2f2;
                color: #333333;
                border: 1px solid #a6a6a6;
                width: 94%;
                margin-left: .266667rem;
                // display: block;
                line-height: 0.82rem;
                height: 0.82rem;
                padding: 0;
                max-width: none;
                .select-text {
                    font-size: .4rem;
                    height: auto;
                    width: auto;
                    padding-left: .266667rem;
                }
                .select-icon {
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    margin-right: .266667rem;
                    // display: inline-block;
                }
            }
        }
        .thead {
            text-align: center;
            // padding: 0 .133333rem;
            padding-right: .133333rem;
            height: 1.333333rem;
            //    position:relative;
            width: 100%;
            z-index: 11;
            background-color: #509cfa;
            .col {
                line-height: 1.333333rem;
                padding: 0;
                &.check {
                    line-height: 1.466667rem;
                    ion-label {
                        ion-checkbox {
                            .checkbox-icon {
                                border: none;
                                &.checkbox-checked {
                                    .checkbox-inner {
                                        left: 5px;
                                        top: 1px;
                                    }
                                }
                            }
                        }
                    }
                }
                ion-label {
                    height: 100%;
                    margin: 0;
                    font-size: .373333rem;
                    color: white;
                }
            }
        }
    }
    ion-content {
        margin-top: 1.173333rem;
        .scroll-content {
            // padding: 0 .333333rem;
            margin-bottom: 0!important;
            background-color: white !important;
            border-top: none !important;
            .grid {
                // max-height: 14.666667rem;
                overflow-y: scroll;
                //    margin-top:1rem;
                padding: 0;
                .row {
                    padding: 0;
                    .col {
                        padding: 0;
                        text-align: center;
                    }
                }
                .tbody {
                    height: 1.333333rem;
                    padding: 0 .013333rem;
                    .col {
                        border-bottom: 1px solid #dbdbdb;
                        &.check {
                            ion-label {
                                line-height: 1.466667rem;
                                ion-checkbox {
                                    .checkbox-icon {
                                        border-color: #509cfa;
                                        &.checkbox-checked {
                                            .checkbox-inner {
                                                // left: 5px;
                                                // top: 1px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        ion-label {
                            height: 100%;
                            margin: 0;
                            line-height: 1.333333rem;
                            color: #666666;
                            font-size: .32rem;
                        }
                    }
                }
            }
            .buttons {
                width: 6.6rem;
                height: auto;
                margin: 0 auto;
                margin-top: .573333rem;
                margin-bottom: 2rem;
                button {
                    width: 2.933333rem;
                    height: 1.2rem;
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    &:first-child {
                        float: left;
                    }
                    &.right {
                        float: right;
                    }
                    &:disabled {
                        background-color: #999999;
                        opacity: .6;
                    }
                }
                .both {
                    clear: both;
                }
            }
        }
    }
}