ion-content.forget{
    .scroll-content{
        padding:0 1.25rem 0 1.25rem !important;
        ion-list{
            margin:0 !important;
            padding-top:0.95rem !important;
            ion-item{
                width:5rem;
                height:0.73rem;
                min-height:0;
                // margin-top:0.5rem;
                min-width:0;
                border:1px solid #2590c7 !important;
                border-radius:5px;
                margin-bottom:0.3rem;
                box-sizing: border-box;
                padding: 0.09rem  0 0.08rem 0.18rem; 
                font-size:0.24rem;
                overflow: visible;
                .item-inner{
                    padding:0 !important;
                    overflow: visible;
                    .input-wrapper{
                        width:100%;
                        overflow: visible;
                        ion-label{
                            margin:0;
                            width:0.54rem;
                            height:0.54rem;
                            border-radius:50%;
                            background-color:#2590c7;
                            border:2px solid white;
                            line-height:0.55rem;
                            text-align:center;
                            box-shadow:0 0 5px #2590c7;
                            ion-icon{
                                color:white;
                            }
                            span{
                                font-family:icon;
                                color:red;
                            }
                        }
                        // p{
                        //     width:0.03rem;
                        //     height:80%;
                        //     border:2px dashed #2590c7;
                        //     position:relative;
                        //     &:after{
                        //         position:absolute;
                        //         width:3px;
                        //         height:3px;
                        //         border-radius:50%;
                        //         background-color:#2590c7;
                        //         top:0;
                        //         left:0;
                        //         right:0;
                        //         margin:0 auto;
                        //     }
                        //     &:before{
                        //         position:absolute;
                        //         width:3px;
                        //         height:3px;
                        //         border-radius:50%;
                        //         background-color:#2590c7;
                        //         bottom:0;
                        //         left:0;
                        //         right:0;
                        //         margin:0 auto;
                        //     }
                        // }
                        ion-input{
                            height:100%;
                            position:relative;
                            border-left:2px dashed #2590c7;
                             margin-left:0.15rem;
                             box-sizing: border-box;
                             input{
                                 margin-top:5px;
                             }
                        }
                    }
                }
            }
            .low_item{
                width:3.1rem;
                display:inline-block;
                float:left;
                ion-input{
                    height:80% !important;
                }
            }
            ion-item.low_button{
                width:1.54rem;
                height:0.73rem;
                float: right;
                background-color:#2590c7;
                text-align:center;
                display:inline-block;
                line-height:0.73rem;
                color:white;
                font-size:0.24rem;
                padding:0;
                .item-inner{
                    .input-wrapper{
                        ion-label{
                            border:none;
                            background-color:none;
                            box-shadow: none;
                            padding:0;
                            span{
                                width:100% !important;
                                height:100% !important;
                                border-radius:0 !important;
                                padding:0;
                                color:white;
                                background-color:transparent;
                            }
                        }
                    }
                }
            }
        }
        .submit{
           width:3rem;
           height:0.88rem;
           background-color: #2590c7;
           display:block;
           margin:0 auto;
           font-size:0.36rem;
           min-width:0;
           opacity: 1;
           margin-top:0.5rem;
           padding:0;
           box-shadow:0 20px 20px  rgba(37,144,199,0.65);
           &.activated{
               background-color: #2590c7;
           }
        }
    }
}