<ion-content class="myabout">
  <ion-list class="mylogin">
    <ion-item>
      <ion-avatar item-start>
        <img src="http://img3.redocn.com/tupian/20150430/mantenghuawenmodianshiliangbeijing_3924704.jpg">
      </ion-avatar>
      <h5>您好</h5>
      <p *ngIf="userexist">XXX先生</p>
      <p *ngIf="!userexist" (click)="login()">立即登录 <ion-icon name="ios-arrow-forward"></ion-icon></p>
    </ion-item>
  </ion-list>
  <ion-list>
    <button ion-item *ngIf="userexist" (click)="godata()">
      我的资料  
    </button>
    <button (click)="goscan()" ion-item>
      扫一扫
    </button>
     <button ion-item (click)="gocamera()">
      照相
    </button>
     <button ion-item (click)="golocation()"> 
      定位
    </button>
    <button ion-item (click)="goqrcode()" *ngIf="userexist">
      生成二维码
    </button>
  </ion-list>
</ion-content>